[submodule "hls"]
	path = ext/hls-types
	url = https://github.com/Xilinx/HLS_arbitrary_Precision_Types
	branch = master
[submodule "axc-math"]
	path = ext/axc-math
	url = https://gitlab.com/ecas-lab-tec/approximate-flexible-acceleration-ml/approximate-math-operators 
	branch = master
[submodule "ext/matrix"]
	path = ext/matrix
	url = https://gitlab.com/ecas-lab-tec/approximate-flexible-acceleration-ml/approximate-gemm-accelerator.git
	branch = main
[submodule "ext/fal-accels"]
	path = ext/fal-accels
	url = https://gitlab.com/ecas-lab-tec/approximate-flexible-acceleration-ml/flexible-accelerators-library-fal
	branch = develop

